<!DOCTYPE html>
<html lang="en" ng-app="wjDirectiveFactory">
<head>
	<meta charset="UTF-8">
	<title>Directives Factory</title>

	<script src="bower_components/angular/angular.js"></script>
	<script src="app.js"></script>

	<!--Loading-->
	<script src="loading/loading_directive.js"></script>
	<script src="loading/loading_controller.js"></script>
	<link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">

	<!--Date Time Picker-->
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<!--Angular UI Bootstrap (needed for date-picker), http://angular-ui.github.io/bootstrap/-->
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="datePicker/date_picker_directive.js"></script>
	<script src="datePicker/date_picker_controller.js"></script>

	<!--Numeric Input-->
	<script src="numeric-input/numeric_input_directive.js"></script>
	<!--Clearing Input-->
	<script src="clearing-input/clearing_input_directive.js"></script>
	<script src="clearing-input/clearing_input_controller.js"></script>

</head>

<style>
	.page-margin{
		margin: 5px;
	}

	h2{
		margin-top: 55px;
	}
</style>

<body class="page-margin">

<h1>Directives Factory</h1>

<p>This is a test-page showing/testing the directives of this project</p>

<section ng-controller="LoadingTestController as LoadingTestCtrl">
	<h2>Loading</h2>
	<pre>
		Use to show a message when something takes time.
		For example a "Loading..." in place of where a table
		will be shown when data is fully loaded.
	</pre>

	<p>
		<button class="btn btn-default" ng-click="LoadingTestCtrl.startLoading()">Load</button>
	</p>

	<loading-message delay="500" message="Loading some data..."
					 is-loading="LoadingTestCtrl.isLoading"></loading-message>
	<p ng-if="!LoadingTestCtrl.isLoading">{{LoadingTestCtrl.loadedData}}</p>
</section>

<section ng-controller="DatePickerTestController as DatePickerTestCtrl">
	<h2>Date Time Picker</h2>
	<pre>
		Drop-down date picker
	</pre>
	<!--Yeah, bootstrap is used here and NB the date-picker template uses it as well-->
	<form class="form-inline">
		<div class="form-group">
			<label for="dtp">Select a date</label>
			<date-picker id="dtp" context='birth' date="DatePickerTestCtrl.selectedDate"></date-picker>
			Selected Date: <strong>{{DatePickerTestCtrl.selectedDate | date : 'yyyy-MM-dd' }}</strong>
		</div>
	</form>
</section>

<section>
	<h2>Numeric Input</h2>
	<pre>
		Input that only takes positive numeric values.
		Can be set to accept decimals or not.
		Min and Max values can be set as well.
		Can be set to allow zero or not.
	</pre>
	<form class="form-inline">
		<div class="form-group">
			<label for="ni">Enter some Number</label>
			<input id="ni" type="text" ng-model="NumericInputTestCtrl.someNumber" numeric-input max-value="99000" old-value="{{NumericInputTestCtrl.someNumber}}">
			Parsed Number: <strong>{{NumericInputTestCtrl.someNumber}}</strong>
		</div>
	</form>
</section>

<section ng-controller="ClearingInputTestController as ClearingInputTestCtrl">
	<h2>Clearing Input</h2>
	<pre>
		Clears value upon focus.
		The clearing doesn't affect the external value, the one given to this directive through an attribute,
		only the internal one, what is seen in the input field.
		Entering a new value however instantly affects the external value.
		Changing the external value is instantly reflected in this field.
		If nothing entered, original value re-appears. (not affecting external value)
		(looks/feels cooler than selecting on focus)
		(similar to using a placeholder, if that's sufficient use a placeholder instead)
	</pre>
	<form class="form-inline">
		<div class="form-group">
			<label>Enter some Number</label>
			<clearing-input external-value="ClearingInputTestCtrl.someValue"></clearing-input>
		</div>
	</form>
	<form class="form-inline">
		<div class="form-group">
			<label>Dummy Filed to Change Focus to (and value in the test-ctrl, the one using the directive)</label>
			<input type="text" ng-model="ClearingInputTestCtrl.someValue">
		</div>
	</form>
</section>

</body>
</html>